---
http_interactions:
- request:
    method: post
    uri: https://shop.textalk.se/backend/jsonrpc/Article/12565605
    body:
      encoding: UTF-8
      string: '{"method":"uid","params":[],"id":"jsonrpc","jsonrpc":"2.0"}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json-rpc
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"jsonrpc","result":"12565605"}'
  recorded_at: Thu, 18 Apr 2013 09:32:12 GMT
recorded_with: VCR 2.4.0
