---
http_interactions:
- request:
    method: post
    uri: http://shop.textalk.se/backend/jsonrpc/Foo
    body:
      encoding: UTF-8
      string: '{"method":"dummy","params":[],"id":"jsonrpc","jsonrpc":"2.0"}'
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json-rpc
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":null,"error":{"code":-32601,"message":"Method
        not found: No API for Foo"}}'
  recorded_at: Thu, 18 Apr 2013 09:32:12 GMT
recorded_with: VCR 2.4.0
