---
http_interactions:
- request:
    method: post
    uri: https://shop.textalk.se/backend/jsonrpc/Article/14284660
    body:
      encoding: UTF-8
      string: '{"method":"get","params":[{"name":true}],"id":"jsonrpc","jsonrpc":"2.0"}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json-rpc
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":"jsonrpc","result":{"name":{"sv":"Presentkort
        1000 kr","en":"Gift certificate 1000 SEK"}}}'
  recorded_at: Thu, 18 Apr 2013 09:32:12 GMT
recorded_with: VCR 2.4.0
